.formWrapper {
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translate(-85%, -50%);
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 12px;
  height: 400px;
  width: 400px;
  background: transparent;
}






.formMain{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.inputWrapper{
    margin-top: 60px;
}

.icon{
    cursor: pointer;
    position: absolute;
    left: 90%;
}

.input{
    background: transparent;
    
    border: none;
    border-bottom: 1px solid white;

    width: 250px;
    height: 40px;
    padding-left: 12px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: black;
    font-family: 'Work Sans', sans-serif;
}

.input::placeholder{
    color: black
}

.inputLast{
    display: none;
    
}

.input:focus{
    border-color: #218FD1;
    outline: none;
}

.submitButton{
    width: 250px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid black;
    height: 40px;
    font-size: 14pt;
    cursor: pointer;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Work Sans', sans-serif;
}

.submitButton:hover{
    scale: 1.02;
}
.submitButton:active{
    scale: 0.99;
}

