@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --bg-dark-start: #292E49;
  --bg-dark-end: #536976;
}

body {
  /* background: linear-gradient(to right, var(--bg-dark-start), var(--bg-dark-end)); */
  background-color: var(--bg-dark-end);

  font-family: 'Work Sans', sans-serif;
}







ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;

}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
